.col-md-4 {
  text-align: center;
}
#player2Roll, #player2Hold {
  display: none;
}
.dice {
  display: none;
}
.jumbotron {
  background-color: #c27670;
  color: #ffffff;
  text-align: center;
  font-family: 'KoHo', sans-serif;
}
#pig {
  width: 10%;
}
h3 {
  font-family: 'Kalam', cursive;
  font-size: 35px;
}
p {
  font-family: 'Orbitron', sans-serif;
  font-size: 25px;
}
button {
  font-family: 'KoHo', sans-serif;
}

body {
  background-color: #ffdcd9;
}
